In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
top_da_skills = pd.read_csv('csv_files/top_da_skills.csv')

In [6]:
top_da_skills.head()

,job_id,job_title,company_name,salary_year_avg,skills
0,552322,Associate Director- Data Insights,AT&T,255829.5,sql
1,552322,Associate Director- Data Insights,AT&T,255829.5,python
2,552322,Associate Director- Data Insights,AT&T,255829.5,r
3,552322,Associate Director- Data Insights,AT&T,255829.5,azure
4,552322,Associate Director- Data Insights,AT&T,255829.5,databricks